<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <a name="" id="" class="btn btn-success" href=""" role="button">Agregar nuevo libro</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Libros</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Documento</th>
                        <th>Permiso</th>
                        <th>Cargo</th>
                        <th>Organizacion</th>
                        <th>FechaNacimiento</th>
                        <th>Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for libros in libros %}
                    <tr>
                        <td>{{ libros.id }}</td>
                        <td>{{ libros.titulo }}</td>
                        <td>
                            <img src="" height="100">
                        </td>
                        <td>{{ libros.descripcion }}</td>
                        <td> <a name="" id="" class="btn btn-primary" href="" role="button">Editar</a> 
                            |
                            <a name="" id="" class="btn btn-danger" href="" role="button">Borrar</td>
    
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
    
</body>
</html>